 body{
    font-family: Vazirmatn, sans-serif;
 }

.box{
    margin: 10px;
     border: 1px solid rgb(139, 136, 136) ;
     width: 20%;
     background-color: rgb(201, 201, 201);
     border-radius: 5px;
}
.img{
    width:90%;
    margin: 5%;
    border-radius: 10px;

}
.flex{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.btninc{
    background-color: green ;
    border-radius: 35px;
    margin: 10px;
    color: white;
    width: 40px;
    line-height: 35px;
    FONT-SIZE: 25PX;
}
.btndec{
    background-color: red ;
    border-radius: 35px;
    margin: 10px;
    color: white;
    width: 40px;
    line-height: 35px;
    FONT-SIZE: 25PX;
}
.centeritem{
    display: flex;
    justify-content: center;
}
.nav{
    background-color: rgb(175, 175, 175);
    width: 100%;
    padding: 10px;
}


.btnincsmall{
    background-color: green ;
    border-radius: 25px;
    margin: 10px;
    color: white;
    width: 27px;
    max-height: 27px;
}
.btndecsmall{
    background-color: rgb(189, 0, 0) ;
    border-radius: 25px;
    margin: 10px;
    color: white;
    width: 27px;
    max-height: 27px;
}
.smallpic{
    width: 50px;
}